.sign-in {
  background-image: linear-gradient(rgba(50, 50, 50, 0.8), rgba(50, 50, 50, 0.8)), url("https://www.desktopbackground.org/download/3840x2400/2015/05/13/947756_material-design-snowcap-wallpapers-8k-resolution-by-elite001mm-on_7680x4320_h.jpg");
  background-position: center center;
  background-size: cover;
  height: 100vh;
}
